.container
  %ul
    %li
      %i.menu_icon
      %span.title

    %li
      %i.menu_icon
      %span.title 	
        Покраска
    %li
      %i.menu_icon
      %span.title 
        Запчасти
    %li
      %i.menu_icon
      %span.title 
        О
    %li
      %i.menu_icon
      %span.title 
