
header {
  min-height: 630px;
  background-image: url("/images/header_pic.png");
  background-repeat:repeat-x;
  background-position: 50% -40px;
  position: relative;
}


.header-top {    
  
    min-height: 97px;
    box-shadow: rgba(255, 255, 255, .15) 0 0 0 1px;
    background-color: rgba(0,0,0,.4); 
    padding-top: 16px;
    position: relative;
    z-index: 1;
}


.header-top a:hover {
  border-bottom: transparent dashed 1px;
  font-family: "BebasRegular", sans-serif;
  color: #fff;
  text-decoration: none;
  transition: all, .2s;
}

.address {

  //background-image: url("");
  //background-position: top left;
  //background-repeat: no-repeat;
  //margin-top: 10px;

}

.sity_name {
    font-family: "BebasBold", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #d12f22;
    line-height: 27px;  
}  

.header-top a  {
  font-family: "BebasRegular", sans-serif;
  text-transform: uppercase;
}
.address a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8em;
  border-bottom: #fff dashed 1px;

}

.phone a.call_btn{
  color: rgba(255, 255, 255, 0.8);
  font-size: .8em;
  border-bottom: #fff dashed 1px;
}


.header-top .logo_wrap {
  //position: relative;
  //width: 197px;
  //margin:auto;


}

.header-top .logo {
  //position: absolute;

  //margin-top: -20px;
  a {border-bottom: 0;}
}
  .logo  {

    padding: 1%;

}

.center {
  text-align: center  ;


}

.header-top .phone {
  font-family: "BebasBold", sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #d12f22;
  line-height: 1em;
  //text-align: right;
  margin-top: 10px;
  padding-bottom: 10px;
 
}

.header-top .phone .operator_code{
  color: white;
}

.header-top .call_btn {
  
  // margin-right: 60px;
}