<div class="container">
    <div class="raw">
        <div class="col-md-12">
            <div class="navbar navbar-fixed-bottom navbar-default">

                <ul class="nav" id="menu-nav">

                     <li class="home"><a href="#">Главная</a></li>
                     <li class="price"><a href="#">Цены</a></li>
                     <li class="gallery"><a href="#">Наши работы</a></li>
                     <li class="active contacts"><a href="#">Контакты</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>